body {
	background-color: #111111;
	font-family: 'MS PGOTHIC', sans-serif;
	color: white;
	background-attachment: fixed;
	overflow-x: hidden;
	
	
background: url("assets/bg.png") repeat 0 0;
  -webkit-animation: bg-scrolling-reverse 0.92s infinite;
  /* Safari 4+ */
  -moz-animation: bg-scrolling-reverse 0.92s infinite;
  /* Fx 5+ */
  -o-animation: bg-scrolling-reverse 0.92s infinite;
  /* Opera 12+ */
  animation: bg-scrolling-reverse 0.92s infinite;
  /* IE 10+ */
  -webkit-animation-timing-function: linear;
  -moz-animation-timing-function: linear;
  -o-animation-timing-function: linear;
  animation-timing-function: linear;
}

    #sprite {
        position: relative;
        top: 130px;
		right: 200px;
    }

#info {
        position: fixed;
        top: 0;
        left: 0;
        padding: 5px;
        font-family: Arial, sans-serif;
        font-size: 12px;
		font-family: 'MS PGOTHIC', sans-serif;
		padding-top: 35px;
		color: #33ff00;
}

@-webkit-keyframes bg-scrolling-reverse {
  100% {
    background-position: 50px 50px;
  }
}
@-moz-keyframes bg-scrolling-reverse {
  100% {
    background-position: 50px 50px;
  }
}
@-o-keyframes bg-scrolling-reverse {
  100% {
    background-position: 50px 50px;
  }
}
@keyframes bg-scrolling-reverse {
  100% {
    background-position: 50px 50px;
  }
}
@-webkit-keyframes bg-scrolling {
  0% {
    background-position: 50px 50px;
  }
}
@-moz-keyframes bg-scrolling {
  0% {
    background-position: 50px 50px;
  }
}
@-o-keyframes bg-scrolling {
  0% {
    background-position: 50px 50px;
  }
}
@keyframes bg-scrolling {
  0% {
    background-position: 50px 50px;
  }
}

.bg {
  position: fixed;
  top: -50%;
  left: -50%;
  right: -50%;
  bottom: -50%;
  width: 200%;
  height: 200vh;
  background: transparent url('http://assets.iceable.com/img/noise-transparent.png') repeat 0 0;
  background-repeat: repeat;
  animation: bg-animation .2s infinite;
  opacity: 1;
  visibility: visible;
  pointer-events: none; /* Add this line to make clicks pass through */
}

@keyframes bg-animation {
    0% { transform: translate(0,0) }
    10% { transform: translate(-5%,-5%) }
    20% { transform: translate(-10%,5%) }
    30% { transform: translate(5%,-10%) }
    40% { transform: translate(-5%,15%) }
    50% { transform: translate(-10%,5%) }
    60% { transform: translate(15%,0) }
    70% { transform: translate(0,10%) }
    80% { transform: translate(-15%,0) }
    90% { transform: translate(10%,5%) }
    100% { transform: translate(5%,0) }
}

textarea {
      width: 100%;
      padding: 10px;
      box-sizing: border-box;
      background-color: black;
      color: white;
      border: 1px solid white;
    }


.topBar {
	background-color: rgba(5, 5, 5, 0.7);
	position: fixed; /* Fixed position */
	top: 0; /* Align with the top of the viewport */
	left: 0; /* Align with the left of the viewport */
	right: 0; /* Align with the right of the viewport */
	height: 10px;
	padding: 10px;
	border: 1.5px solid black;
	text-align: right;
	display: flex;
	color: gray;
}

.bottomBar {
    position: fixed;
    background-color: rgba(5, 5, 5, 0.7);
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1.5px solid black;
}


.topBar p {
  margin: 0; /* Remove default margin of <p> element */
}

.main {


}

.mainBox {
	background-color: rgba(1, 1, 1, 0.7);
	width: 600px;
	border: 1px solid white;
	padding: 10px;
	margin: 1px;
	margin-right: 10px;
	margin-bottom: 10px;
}

.sidebarContainer {

}

.leftsidebarContainer {
    flex: 0 0 auto;
    order: -1; /* This moves the element to the beginning of the flex container */
	margin-right: 10px;
}
.sidebar {
	background-color: rgba(1, 1, 1, 0.7);
	width: 200px;
	border: 1px solid white;

	padding: 10px;
	margin: 1px;
	height: auto;
	margin-bottom: 10px;
	
    list-style: none;
}



ul {
	list-style: none;
}

li:nth-child(even) {
  background-color: 
#121212;
}


.adSidebar {
	background-color: rgba(1, 1, 1, 0.7);
	width: 200px;
	border: 1px solid white;
	padding: 10px;
	margin: 1px;
	height: auto;
	text-align: center;
	margin-bottom: 10px;
}

.sidebarTransparent {
	width: 200px;
	padding: 10px;
	margin: 1px;
	height: auto;

}

.container {
 	display: flex;
	justify-content: center;
	margin-top: 50px;
}

p {
	font-size: 12px;
}

 textarea {
      resize: vertical;
    }

li {
	font-size: 12px;
}

h1 {
  font-size: 10px;
  text-shadow: 0 0 20px rgba(66, 135, 245, 1); /* Increased blur radius and alpha channel value */
  background: -webkit-linear-gradient(#7E85EB, #458cff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: white; /* Change this line to set text color to white */
}


@keyframes wiggle {
    0% {
        transform: translate(-3px, -2px) rotate(0deg);
        filter: hue-rotate(0deg);
    }
    10% {
        transform: translate(3px, 2px) rotate(0.5deg);
        filter: hue-rotate(36deg);
    }
    20% {
        transform: translate(-2px, 1px) rotate(-0.1deg);
        filter: hue-rotate(72deg);
    }
    30% {
        transform: translate(1px, -3px) rotate(0.1deg);
        filter: hue-rotate(108deg);
    }
    40% {
        transform: translate(-1px, 2px) rotate(-0.1deg);
        filter: hue-rotate(144deg);
    }
    50% {
        transform: translate(3px, -1px) rotate(0deg);
        filter: hue-rotate(180deg);
    }
    60% {
        transform: translate(-2px, -3px) rotate(0.1deg);
        filter: hue-rotate(216deg);
    }
    70% {
        transform: translate(2px, 1px) rotate(-0.1deg);
        filter: hue-rotate(252deg); /* Reduced rotation angle */
    }
    80% {
        transform: translate(-1px, -2px) rotate(0.1deg);
        filter: hue-rotate(288deg);
    }
    90% {
        transform: translate(3px, 2px) rotate(-1deg);
        filter: hue-rotate(324deg);
    }
    100% {
        transform: translate(-3px, -2px) rotate(0deg);
        filter: hue-rotate(360deg);
    }
}

pre {
    font-size: 20px;
    text-shadow: 0 0 10px rgba(66, 135, 245, 1); /* Increased blur radius and opacity */
    background: -webkit-linear-gradient(#7E85EB, #458cff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    white-space: pre-wrap;
    text-align: center;
    margin: 0 auto;
    max-width: 800px; /* Adjust the maximum width as needed */
    padding: 20px; /* Add padding for better readability */
    animation: wiggle 2s infinite; /* Adjust the animation duration as needed */
}



a {
	color: white;
}

img {
border: 1px solid white;
}

#lastPlayed {
        text-align: center; /* Center align the content */
    }
    #lastPlayed img {
        display: block; /* Make sure the image is centered properly */
        margin: 0 auto; /* Center the image horizontally */
    }
